.navbar-brand {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
main {
    background: linear-gradient(rgba(216, 165, 24, 0.5), rgba(91, 4, 4, 0.5));
}
 .principal {
    background: url(/images/back.jpg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.principal2 {
    background: url(/images/back5.jpg) center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron {
    background-color: rgba(238, 203, 121, 0.7);
    border-radius: 10px;
    color:rgb(60, 29, 5);
}
.card-body {
    background-color: rgba(238, 203, 121, 0.7);
}
.card-title {
    color: rgb(60, 29, 5);
}
.card-text {
    color:rgb(60, 29, 5);
    font-size: medium;
}
a:link {
    text-decoration:none;
    color:beige
}
.foot {
    font-size: small;
}
.pagination a {
    color:brown
}